.d_logo{width: 7.5rem;display: block;}
.d_atitle{font-size: .34rem;line-height: .54rem;text-align: center;font-weight: bold;margin: 0 .5rem;}
.d_content{font-size: .28rem;line-height: .48rem;color: #333333;margin: 0 .5rem;}
.d_infor{font-size: .28rem;line-height: .58rem;color: #FF704F;text-align: center;}
.d_address{width: 6.5rem;height: 4rem;margin: .2rem .5rem;}
