@charset "utf-8";
.d_accountBox{
	width: 100%;
	height: 100%;
}
.d_topnav{
	height: 0.9rem;
	margin-top: 0.9rem;
	font-size: 0.28rem;
	color:#5793DD;
	text-align: center;
	border-bottom: solid 1px #E6E6E6;
}
.d_topnav p{
	float: left;
	width: 49%;
	line-height: 0.9rem;
	border-bottom: solid 1px #5793DD;
}
.d_topnav .d_phideclass{
	border: none;
	color: #111111;
}
.d_contentlist{
	height:1.2rem;
	border-bottom: solid 1px #E6E6E6;
	padding-right: 0.4rem;
	margin-left: 0.4rem;
}
.d_content1{
	height:0.6rem;
	line-height: 0.6rem;
}
.d_content2{
	height:0.6rem;
	line-height: 0.6rem;
}
.d_content1 strong{
	font-size: 0.3rem;
	color: #111111;
	float: left;
}
.d_content2 strong{
	font-size: 0.26rem;
	color: #111111;
	float: left;
}
.d_content1 span{
	font-size: 0.24rem;
	color: #999999;
	float: right;
}
.d_content2 span{
	font-size: 0.28rem;
	color: #fe9eb5;
	font-weight: bold;
	float: right;
}
