@charset "utf-8";
.d_goodfriendBox{
	width: 100%;
	height: 100%;
}
.d_goodfriendtitle{
	position: fixed;
	top: 0;
	left: 0;
	width: 6.7rem;
	height:0.9rem;
	padding: 0 0.3rem;
	background: #f9f9f9;
	border-bottom: #e6e6e6;
	border-bottom: solid 1px #E6E6E6;
	z-index: 5;
}
.d_goodfriendtitle p{
	width: 5.5rem;
	float: left;
	font-size: 0.3rem;
	color:#333333;
	font-weight: bold;
	text-align: center;
	line-height: 0.9rem;
	margin-left: 0.5rem;
}
.d_goodfriendtitle span{
	text-align: right;
	line-height: 0.9rem;
	font-size: 0.3rem;
	color:#5397DD;
}
.d_navbox{
	position: fixed;
	top: 0.9rem;
	left: 0;
	width: 7.1rem;
	padding: 0 0.4rem;
	height:0.9rem;
	border-bottom: solid 1px #E6E6E6;
	background: #FFFFFF;
}
.d_navson{
	font-size: 0.28rem;
	color:#111111;
	float: left;
	padding-top: 0.3rem;
	margin: 0 0.8rem;
} 
.d_addnav{
	color:#5793DD;
	border-bottom: solid 2px #5793DD;
}
.d_contentbox{
	margin-top: 1.8rem;
	margin-bottom: 0.9rem;
}
.d_goodF{
	height: 1.6rem;
	border-radius: 0.06rem;
	border-bottom: solid 1px #E6E6E6;
	margin-left: 0.4rem;
	padding-right: 0.4rem;
}
.d_goodF img {
	float: left;
	margin-top: 0.28rem;
	width: 1.04rem;
	height:1.04rem;
	border-radius: 0.06rem;
}
.d_goodFrigth{
	float: right;
	margin-top: 0.28rem;
	width: 5.36rem;
}
.d_goodFcenter{
	height: 1.04rem;
	float: left;
}
.d_goodFcenter h2{
	font-size: 0.32rem;
	color: #333333;
	line-height: 0.52rem;
	/*font-weight: bold;*/
}
.d_goodFcenter p{
	font-size: 0.24rem;
	color: #999999;
	line-height: 0.52rem;
	width: 2.8rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.d_hint{
	float: right;
	margin-top: 0.4rem;
	height:0.24rem;
	width: 0.24rem;
	border-radius: 50%;
	background: #dd5757;
	font-size: 0.14rem;
	line-height: 0.24rem;
	text-align: center;
	color: #FFFFFF;
}
.d_goodFlist{
	margin-top: 0;
}
.d_newgood{
	height: 0.52rem;
}
.d_newgood h2{float: left;}
.d_agesex{
	margin-top: 0.12rem;
	float: left;
	margin-left: 0.16rem;
	width: 0.56rem;
	height: 0.24rem;
	border-radius: 0.06rem;
	background: #5793DD;
}
.d_agesex img{
	margin-top: 0;
	float: left;
	width: 0.14rem;
	height: 0.14rem;
	margin-top: 0.05rem;
	margin-left: 0.07rem;
}
.d_addimg{
	background: #feb3c5;
}
.d_agesex span{
	display: block;
	float: right;
	font-size: 0.14rem;
	color: #FFFFFF;
	line-height: 0.26rem;
	margin-right: 0.07rem;
}
.d_hidden{
	display: none;
}
