.starts{width:auto;height:100%;position: absolute;top:0;right:.3rem;}
.introducesFX{width:.3rem;height:.3rem;margin-right:.3rem;}
.starts>span{color:#111;}
.views{width:7.5rem;height:auto;padding-top:.9rem;padding-bottom:.3rem;}
.card-top{width:7.5rem;height:9rem;margin-top:.2rem;border-bottom:1px solid #F4F4F4; }
.user-img{display: block;width:6.9rem;height:6.9rem;margin-left:.3rem;}
.user-box{width:auto;height:2.1rem;margin-left:.3rem;}
.user-nick{margin-top:.4rem;}
.user-nick span{display: inline-block;}
.nick{font-size:.48rem;font-weight:bold;color:#111;margin-right:.1rem;}
.attestation{width:1.2rem;height:.48rem;line-height:.48rem;text-align:center;border-radius:4px;border:1px solid #E5E5E5;font-size:.24rem;color:#E5E5E5;}
.user-nick span.active{border:1px solid #FFA48E;color:#FFA48E; }
.online{font-size:.24rem;color:#5793dd;}
.user-msg{font-size:.3rem;color:#333;padding-top:.3rem ;}
.card-album{width:7.2rem;height:3.4rem;margin-left:.3rem;border-bottom:1px solid #F4F4F4; }
.card-title{margin-top:.5rem;font-size:.34rem;color:#111; }
.card-album-img{width:6.9rem;height:1.8rem;margin-top:.4rem;position: relative;}
.card-album-img img{width:1.8rem;height:1.8rem;border-radius:4px;margin-right:.3rem;}
.right-jt{width:.2rem;height:.4rem;position: absolute;top:.7rem;right:.3rem;}
.right-jt>img{width:.2rem;height:.4rem;}
.card-depict{width:7.2rem;height:3.65rem;margin-left:.3rem;border-bottom:1px solid #F4F4F4;}
.card-depict-content{width:6.9rem;height:2.5rem;margin-top:.37rem;}
.card-depict-box{width:auto;height:1rem;}
.card-depict-img{width:1rem;height:1rem;border-radius:50%;}
.card-depict-user{margin-left:.2rem;margin-top:.1rem;}
.card-depict-user p{font-size:.28rem;color:#111;}
.card-depict-user>p>img{width:.25rem;height:.25rem;margin-left:.1rem;}
.card-depict-box>h1{margin-top:.4rem;color:#6C6C6C;font-size:.28rem;overflow: hidden;width:6.6rem;height:.75rem; }
.card-material,.card-mate{width:7.2rem;height:2.1rem;margin-left:.3rem;border-bottom:1px solid #F4F4F4; }
.card-material-content{width:6.6rem;height:.6rem;margin-top:.5rem;position: relative;}
.card-material-content span,.card-mate-content span{float:left;height:.6rem;line-height:.6rem;font-size:.26rem;text-align: center;padding:0 .2rem;background:#F0F0F1;color:#6C6C6C;border-radius:6px;margin:0 .06rem  }
.card-material-content :first-child,.card-mate-content :first-child{margin-left:0;}
.card-material-content>img{width:.2rem;height:.4rem;position: absolute;top:.1rem;right:0;}
.card-mate-content{width:6.9rem;height:.6rem;margin-top:.5rem;}
.card-proclaim{width:7.2rem;height:auto;margin-left:.3rem;}
.card-proclaim>p{color:#666;font-size:.26rem;width:6.6rem;margin-top:.3rem; }
.imgList{position: fixed;top:0;left:0;bottom:0;right:0;background:#fff;z-index:130;display: none;}
.header{width:7.5rem;height:.9rem;}
.goBack{width:.18rem;height:.37rem;margin-left:.3rem;margin-top:.25rem;}
.imgList-content{height:23rem;width:7.5rem;margin-top:.25rem;}
.imgList-content img{width:2.4rem;height:2.4rem;border-radius:6px;}
.mash-imgList{position: fixed;top:0;bottom:0;left:0;right:0;z-index:200;background:rgba(0,0,0,1);overflow: hidden;display:none;}
.mash-ul{width:auto;height:100%; overflow: hidden;}
.mash-ul li{width:7.5rem;height:100%;position:relative;float:left;}
.mash-ul li>img{display:block;max-width:100%;max-height:100%;position: absolute;top:0; left:0;bottom:0;right:0;margin: auto;}
.imgList-num{width:100%;height:.9rem;line-height:.9rem;color:#fff;font-size:.3rem;text-align:center;position: absolute;top:0; left:0;z-index:200;}
.visitingFoot{position: fixed;bottom:0;left:0;width:7.5rem;height:1.1rem;background:#fff;opacity:.8;  }
.visitingFoot img{height:.5rem;float: left;margin-left:1.5rem;margin-top:.2rem;}
/*购买喜糖*/
.pop-buy{position: fixed;top:0;bottom:0;left:0;right:0;background:#fff;z-index:200;display: none;}
.pop-buy-nav{width:6.9rem;height:.9rem;line-height: .9rem;text-align: center;font-size:.34rem;color:#111;margin:0 auto;}
.pop-p,.pop-p1{width:100%;padding:.05rem 0;text-align: center;font-size:.28rem;color:#111;}
.pop-p,.pop-p2{margin-top:.6rem;}
.closes {  width: .35rem;  height: auto;  margin-top: .275rem;}
.pop-content{width:6.9rem;height:5.55rem;margin:.7rem auto;}
.pop-item{width:100%;height:1.1rem;border-radius:4px;border:1px solid #FF7051;margin-top:.3rem;}
div.active2{background:#FF7051;}
div.active2 span{color:#fff;}
.active2 .bgImg{background:url("../../image/icons/sugar2.png") no-repeat left;background-size:.5rem auto;}
.bgImg{background:url("../../image/icons/sugar.png") no-repeat left;background-size:.5rem auto; }
.pop-item span{width:auto;height:1.1rem;line-height:1.1rem;font-size:.3rem;color:#FF7051;margin-left:.2rem;padding-right:.2rem; padding-left:.8rem;}
#popBtn{width:4rem;height:.95rem;line-height:.95rem;text-align: center;color:#fff;font-size:.3rem;border-radius:30px;margin-left:1.5rem;margin-top:1.2rem;background: linear-gradient(to right,#ff6f4f,#fd2f63);}
.pop-p2,.pop-p3{padding:.1rem 0;text-align: center;font-size:.24rem;color:#999; }
/*弹窗*/
.pop{position: fixed;left:0;right:0;bottom:0;top:0;background:rgba(0,0,0,.7);z-index:200; display: none;}
.lt-pop,.wx-pop{width:5.5rem;height:4rem;position: absolute;left:0;top:0;right:0;bottom:0;background:#fff;border-radius:6px;margin:auto;}
.lt-pop>p{margin-top:1rem;text-align: center;color:#BA2636;font-size:.35rem;padding:.1rem 0;}
.lt-btn{width:3rem;height:.8rem;line-height: .8rem;text-align: center;background:#BA2636;color:#fff;font-size:.35rem;margin:.8rem auto 0;border-radius:6px; }
.wx-pop{height:6rem;}
.wx-pop>img{width:100%;height:auto;display: block;}
.wx-tit{position: absolute;top:.7rem;left:1.6rem;font-size:.48rem;color:#fff;}
.wx-pop p{text-align: center;font-size:.4rem;color:#111;margin-top:.3rem;}
.btnA{display:block;width:3rem;height:.9rem;line-height:.9rem;text-align:center;margin:.7rem auto 0;border-radius:20px;font-size:.3rem;color:#fff;background:linear-gradient(to right,#FF6D51,#FD3163);}