.d_centerBox{
	margin-top: 0.9rem;
	padding: 0 0.14rem;
}
.d_centerBox textarea{
	padding-left: 0.1rem;
	border: none;
	outline: none; 
	width: 100%;
	height:2.0rem;
	font-size: 0.28rem;
	color: #666;
	line-height: 0.5rem;
	padding-top: 0.2rem;
	resize:none;
}
.d_photoBox{
	min-height:2.0rem
}
.d_photoBox img{
	width: 1.6rem;
	height: 1.6rem;
	float: left;
}
.d_mapeye{
	height: 1.0rem;
	padding: 0 0.24rem;
	border-bottom: solid 1px #E6E6E6;
	line-height: 1.0rem;
}
.d_eyebox{display: none;}
.d_bianshi{
	margin-top: 0.36rem;
	width: 0.22rem;
	height: 0.28rem;
	margin-right: 0.18rem;
	float: left;
}
.d_map span,.d_eyebox span{
	display: block;
	float: left;
	font-size: 0.3rem;
	color: #333333;
}
.d_tuleft{
	margin-top: 0.36rem;
	float: right;
	height: 0.28rem;
	width: 0.16rem;
	margin-left: 0.24rem;
}
.d_eye{
	width: 0.3rem;
	height: 0.22rem;
	margin-right: 0.1rem;
	margin-top: 0.4rem;
	float: left;
}
.d_eyebox span{
	display: block;
	float: left;
	font-size: 0.3rem;
	color: #333333;
}
.d_eyebox p{
	font-size: 0.3rem;
	color: #999999;
	float: right;
}
/*上传图片*/
.d_setimg{
	float: left;
	position: relative;
	height:1.6rem;
	width: 1.6rem;
	margin-right: 0.2rem;
}
#d_btn{
	position: absolute;
	top: 0;
	left: 0;
	height:1.6rem;
	width: 1.6rem;
	z-index: 2;
	filter:alpha(opacity:0);
	opacity: 0;
	margin-left: 0.1rem;
	margin-top: 0.1rem;
}
.d_photoBox .d_chuanphoto{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0.1rem;
}
.d_photoBox ul li{
	float: left;
	position: relative;
	height: 1.6rem;
	margin: 0.1rem;
}
.d_offxx{
	height: 0.36rem;
	width: 0.36rem;
	border-radius: 50%;
	font-size: 0.30rem;
	color: #ffffff;
	line-height: 0.36rem;
	text-align: center;
	position: absolute;
	top:-0.08rem;
	right: -0.08rem;
	background: #5793DD;
}
/*地图*/
.d_topbigbox{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	z-index: 600;
	display: none;
}
.d_top{
	margin-top: 0.9rem;
	height: 1.0rem;
	text-align: center;
	border-bottom: solid 1px #E6E6E6;
}
.d_top img{
	width: 0.28rem;
	height:0.3rem;
	margin-top: 0.35rem;
	margin-right: 0.2rem;
}
.d_top input{
	border: none;
	outline: none;
}
.d_ullist li{
	height: 1.0rem;
	line-height: 1.0rem;
	font-size: 0.3rem;
	color: #333333;
	margin-left: 0.24rem;
	padding-right: 0.24rem;
	border-bottom: solid 1px #E6E6E6;
}
/*地图*/
#panel {
    position: fixed;
    background-color: white;
    max-height: 90%;
    overflow-y: auto;
    top: 10px;
    right: 10px;
    width: 280px;
    border-bottom: solid 1px silver;
    display: none;
}
