.personal_box{width:7.5rem;height:auto;}
.personal_imgs{margin-top:.9rem;position: relative;}
.personal_imgs,.personal_imgs li,.personal_imgs li>img{width:7.5rem;height:3rem;cursor:pointer;overflow: hidden;}
.personal_imgs ul{width:100%;height:3rem;}
.personal_imgs ul li{float:left;}
.personal_radius{width:1.5rem;height:auto;position: absolute;left:3rem;bottom:.3rem;text-align: center;}
.personal_radius span{display: inline-block;width:.15rem;height:.15rem;border-radius: 50%;border:1px solid #fff;margin-left:.1rem;}
.personal_radius span.act{background:#fff;}
.personal_mian{width:7.5rem;height:auto;margin-bottom:1.1rem;}
.personal_mian_oneUl{width:7rem;height:3.5rem;margin:.1rem auto;}
.personal_mian_oneUl li{width:3.5rem;height:1.7rem;float:left;text-align: center;box-sizing: border-box;position: relative;overflow: hidden;}
.personal_mian_oneUl>:first-child{border-right:1px solid #efefef;border-bottom:1px solid #efefef;}
.personal_mian_oneUl>:nth-child(2){border-bottom:1px solid #efefef;}
.personal_mian_oneUl>:nth-child(3){border-right:1px solid #efefef;}
/*发布约会*/
#FB_box,#FB_fixed{  width:7.5rem;  z-index:900;  position: fixed;  left:0;right:0;bottom:0;top:0;  background:rgba(0,0,0,.4) ;  display: none;  }
.FB_fixed_box{  width:5.3rem;  height:5.85rem;  position: fixed;bottom:30%; left:1.1rem; background:#fff; z-index:1000; text-align: center;  }
.FB_fixed_box>img{  width:5.3rem;  height:2.8rem;  }
.FB_fixed_box>h3{  color: #666;  margin-top:0.1rem;  font-size: 0.34rem;  font-weight: bold;  }
.FB_fixed_box>h4{  color: #bbb;  margin-top:0.1rem;  }
.FB_fixed_box_a{  width:4.6rem;  height:0.8rem;  margin:0.2rem auto;  box-sizing: border-box;  }
.FB_fixed_box_a a{  width:2.2rem;height:0.8rem;  font-size:0.3rem;  border-radius:4px;  line-height: 0.8rem;  text-align: center;  }
.left_a{  color:#5793dd;  border: 1px solid #5793dd; }
.right_a{  background: #5793dd;  color:#fff; }
.Canjia{width:5rem;height:3rem;background:#fff;position: fixed;bottom:40%;left:1.25rem; z-index: 950; }
.Canjia h1{width:5rem;text-align: center;font-size: .3rem;height: .8rem;line-height: .8rem;color:#333;font-weight: bold;}
.Canjia h2{width:5rem;text-align: center;font-size: .28rem;height:.6rem;line-height: .6rem;color:#333;}
.CanName{color:#5793dd;}
.Canjia p{width:5rem;height:.8rem;border-top:1px solid #efefef;font-size: .3rem;color:#5793dd;text-align: center;margin-top:.2rem; }
.Canjia p span{display: inline-block;width:2.5rem;height:.8rem;line-height: .8rem;border-right:1px solid #efefef;box-sizing: border-box;}
.Canjia p :last-child{border:none;}
.line{width:7.5rem;height:.2rem;background:#F3F3F3;clear: both;}
.left-img{float: left;width:1.2rem;height:1.7rem;}
.left-img img{width:.9rem;height:.9rem;margin-top:.4rem;margin-left:.3rem;}
.right-content{width:2.2rem;height:1.7rem;float:left;}
.right-content p{text-align: center;font-size:.32rem;color:#111;width:2.3rem;height:.5rem;margin-top:.5rem;}
.right-content em{color:#ADADAD;font-size:.24rem;}
#Aname{ width:1rem;height:.4rem;line-height: .4rem;background:#e4393c;color:#fff;position: absolute;font-size: .26rem;
top:1px;right:-15px;transform:rotate(45deg);}
#Bname{position: absolute;width:.55rem;height:.55rem;top:0;right:0;}
.personal_mian_titleBox,.personal_mian_titleBox ol{width:7.5rem;height:auto;}
.personal_mian_titleBox ol li{width:2.5rem;height:1.6rem;position:relative;margin:.2rem 0;text-align:center;float:left;box-sizing:border-box;border-right:1px solid #efefef; }
.personal_mian_titleBox ol li img{width:.6rem;height:.63rem;padding-top:.2rem;}
.personal_mian_titleBox ol li h1{font-size:.3rem;color:#111;margin-top:.2rem;}
#Iname{position:absolute;top:0;right:20px;width:.55rem;height:.2rem;}
/*推荐商家*/
.personal_mian_merchants{width:7.5rem;height:3rem;}
.title{margin:.3rem .25rem ;width:7rem;}
.title span{color:#111;font-size:.3rem;width:auto;height:.25rem;padding-left:.2rem;border-left:3px solid #5793dd;}
.personal_mian_merchants_scroll{width:7.25rem;margin-left:.25rem; height:2rem;margin-top:.3rem;overflow-x:auto;overflow-y:hidden;}
.ul{height:2rem;}
.ul :last-child{margin-right:0;}
.ul li{float:left;width:1.4rem;height:2rem;margin-right:.7rem;}
.ul li span{display: block;width:1.4rem;height:1.4rem;border:1px solid #ccc;border-radius:4px; }
.ul li span img{width:1.4rem;height:1.4rem;border-radius:4px;}
.ul li p{font-size:.26rem;color:#333;width:1.3rem;margin:.2rem auto;text-align: center;white-space: nowrap; text-overflow: ellipsis; overflow:hidden;}
.personal_mian_appointment{ width:7.5rem;height:auto;}
.personal_mian_appointment_details{width:7.25rem;height:2.7rem;margin-left:.25rem;position: relative;padding-top:.2rem;}
.personal_mian_appointment_top_box{width:7.25rem;height:1.97rem;border-bottom:1px solid #efefef;}
.personal_mian_appointment_leftImg{width:1.74rem;height:1.97rem;}
.personal_mian_appointment_leftImg img{width:1.74rem;height:1.74rem;border-radius: 4px;}
.personal_mian_appointment_rightContent{width:5.3rem;height:1.74rem;}
.personal_mian_appointment_rightContent p{color:#666;font-size:.24rem;height:.4rem;line-height: .4rem;white-space: nowrap; text-overflow: ellipsis; overflow:hidden;}
.personal_mian_appointment_rightContent p em{font-size: .28rem;}
.personal_mian_appointment_rightContent p.p_title{color:#333;font-size:.32rem;}
.age{display:inline-block;margin-left:.1rem;text-align:center;width:.6rem;height:.3rem;line-height: .3rem;border-radius: 4px;background:#5793dd;color:#fff;}
.JL{margin-right:.2rem;color:#999;}
.age>img{width:.17rem;height:.17rem;padding-right:.05rem}
.age>b{font-weight:100;font-size:.2rem;}
.ages{display:inline-block;margin-left:.1rem;text-align:center;width:.6rem;height:.3rem;line-height: .3rem;border-radius: 4px;background:#feaabe;color:#fff;}
.ages>img{width:.17rem;height:.17rem;padding-right:.05rem}
.ages>b{font-weight:100;font-size:.2rem;}
.personal_mian_appointment_opt{width:7.25rem;height:.73rem;}
.personal_mian_appointment_opt span{display: inline-block;width:3.4rem;height:.61rem;line-height:.61rem;font-size:.3rem;color:#5793dd;margin-top:.06rem;text-align: center;}
.personal_mian_appointment_opt>:first-child{border-right:1px solid #efefef;}
.personal_mian_appointment_opt span img{width:.36rem;height:.32rem;display: inline-block;margin-right:.2rem;}
img.starts{top:.2rem;}
.Start{width:1.1rem;height:1.1rem;position: absolute;top:0;right:0;}
/*和他约弹框*/
.bomb{  position: fixed;  bottom: 40%;  left: 50%;  margin-left: -2.1rem;  width: 4rem;  height: 2rem;  background: rgba(255,255,255,.8);  border: 1px solid #EEEEEE;  display: none;z-index: 800;  }
.bomb img{  display: block;  margin: .3rem auto;  width: .5rem;  height: .5rem;  }
.bomb p{  text-align: center; color:#111; }