.d_texttop{
	margin-top: 0.9rem;
	padding: 0 0.24rem;
	height: 1.0rem;
	border-bottom: solid 1px #E6E6E6;
	font-size: 0.28rem;
	line-height: 1.0rem;
}
.d_texttop span{
	float: left;
	color: #111111;
}
.d_texttop input{
	line-height: 1.0rem;
	float: left;
	border: none;
	outline: none;
	color: #999999;
	margin-left: 0.2rem;
}
.d_texttop p{
	float: right;
	color: #5793DD;
}
.d_content p{
	height: 1.08rem;
	line-height: 1.08rem;
	border-bottom: solid 1px #E6E6E6;
	font-size: 0.28rem;
	color: #999999;
	padding: 0 0.24rem;
}
.d_content ul{
	height: 2.0rem;
}
.d_content ul li{
	padding: 0 0.24rem;
	height: 1.0rem;
	border-bottom: solid 1px #E6E6E6;
}
.d_dui{
	float: left;
	margin: 0.3rem 0;
	float: left;
	height: 0.3rem;
	width: 0.3rem;
	border: solid 1px #999999;
	line-height: 0.3rem;
	text-align: center;
	color: #999999;
	font-weight: bolder;
	margin-right: 0.34rem;
}
.d_tubiao{
	float: left;
	line-height: 1.0rem;
	height: 1.0rem;
}
.d_content span{
	display: inline-block;
	line-height: 1.0rem;
	margin-bottom: 0.4rem;
	font-size: 0.26rem;
	color: #111111;
	margin-left: 0.14rem;
}
.d_content input{
	float: right;
	width: 3.6rem;
	line-height: 1.0rem;
	border: none;
	outline: none;
}
.d_btn{
	margin: 0.8rem 0.24rem;
	height: 1.0rem;
	line-height: 1.0rem;
	background: #5793DD;
	text-align: center;
	color: #ffffff;
	font-size: 0.28rem;
	border-radius: 0.06rem;
}
