body,html{width:100%;min-width: 1900px;margin: 0 auto}
.d_contenBox img{width: 100%;}
.d_contenBox{
	width: 100%;
	position: relative;
}
.d_content{
	width: 62.5%;
	position: absolute;
	top:22%;
	left: 19%;
}
.d_text{
	position: absolute;
	top: 5.2%;
	text-align: center;
	width: 100%;
}
.d_text p{
	font-size: 42px;
	color: #fd94ad;
	height: 190px;
	line-height: 190px;
	font-weight: bold;
	font-family: "微软雅黑";
}
.d_text ul{
	font-size:20px;
	line-height: 48px;
	color: #444444;
	margin-bottom: 50px;
}
.d_text span{
	display: block;
	font-size: 22px;
	color: #61a7fe;
	line-height: 60px;
}
.d_vipbtn{
	display: block;
	position: absolute;
	bottom: 11.5%;
	left: 38.6%;
	height: 149px;
	width: 308px;
	cursor:pointer;
}
.d_vipbtn p{
	line-height: 149px;
	text-align: center;
	height: 149px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 26px;
	color: #ffffff;
}
