html,body{height:100%;background:#ffffff;}
.headTop{  width:7.5rem;  position: relative;  }
.prefect{width:7.5rem;height:.9rem; line-height:.9rem;color:#fff;font-size: .34rem;text-align: center;font-weight: bold;position: absolute;  top:0;left:0;z-index: 10;  }
.imgs{  display: block;  width:100%;  height:auto; }
.prefect_upImg{position: absolute;bottom:-.6rem;left:3.15rem;width:60px;height:60px;border-radius: 50%;}
#IMGUp{width:60px;height:60px;border-radius: 50%;z-index:10;}
#formData{width:6.7rem;height:auto;margin:0 auto;}
.prefect_box{width:6.7rem;height:1.2rem;border-bottom:1px solid #efefef; position: relative;}
.prefect_box span{width:1.2rem;color:#999;font-size:.28rem;display: inline-block; text-align: center;padding-top:.4rem;margin-right:.6rem;}
.prefect_box input{width:4rem;border:none;outline: none; font-size:.28rem; color:#333;}
.prefectData{width:4rem;height:auto;color:#333;display: inline-block;position: relative;font-size:.28rem;}
#user,#d_inp5,#d_inp6,#d_inp7{padding-left:.3rem;}
#select{width:2rem;border:none;outline: none;text-align: center;font-size:.28rem;position: absolute;left:2.1rem;top: 0.38rem;}
#dates{position: absolute;left:0;bottom:0;z-index: 100;opacity: 0;}
h2{width:6.7rem;height:.8rem;line-height: .8rem;font-size:.28rem;color:#5793dd;}
.prefect_box em{display: inline-block;font-size: .28rem;margin-left:.2rem;}
button.btn{width:6.7rem;height:.9rem;font-size:.3rem;font-weight: bold;}
.bomb{  position: fixed;  bottom: 40%;  left: 50%;  margin-left: -2.1rem;  width: 4rem;  height: 2rem;  background: rgba(255,255,255,.8);  border: 1px solid #EEEEEE;  display: none;z-index: 800;  }
.bomb img{  display: block;  margin: .3rem auto;  width: .5rem;  height: .5rem;  }
.bomb p{  text-align: center; color:#111; }
select,input[type=text],input[type=date]{padding:0;margin-bottom:0;line-height: .5rem;height:.5rem;margin-top:0;}
input[type=date]:before{content:attr(placeholder);color:#333;  }
.d_box{
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 120;
}
.d_height,.d_income,.d_marry{
	display: none;
	max-height: 5.0rem;
	overflow: auto;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 7.0rem;
	margin-left: 0.25rem;
	border: solid 1px #E6E6E6;
	border-bottom-color: 0.06rem;
	z-index: 150;
}
.d_height li,.d_income li,.d_marry li{
	height: 1.0rem;
	line-height: 1.0rem;
	text-align: center;
	background: #FFFFFF;
	border-bottom: solid 1px #E6E6E6;
	font-size: 0.24rem;
	color: #333333;
}
