.view{padding-bottom:0;}
.basic-list{width:7.2rem;margin-left:.3rem;border-bottom:1px solid #ECECEC;height:1.3rem;}
.basic-list span{height:1.3rem;line-height: 1.3rem;color:#666;font-size:.24rem;}
.basic-list em{height:1.3rem;line-height: 1.3rem;color:#111;font-size:.3rem;margin-right:.3rem;}