.d_inpbox{height: 2.13rem;padding: .3rem .3rem 0 .3rem;}
.d_inpbox p{font-size: .32rem;color: #111111;line-height: .9rem;}
.d_inpbox input{height: .88rem;line-height: .88rem;border: solid 1px #E6E6E6;width: 100%;padding:0 .3rem ;font-size: .3rem;color: #111111;}
.d_txig{height: .8rem;padding: 0 .3rem;font-size: .22rem;color: #F83444;line-height: .8rem;}
.d_sure{position: absolute;bottom: 0;left: 0;margin: .6rem .3rem;height: .9rem;background: #fdc2c7;width: 6.9rem;border-radius: .5rem;font-size: .32rem;color: #FFFFFF;text-align:center;line-height: .9rem;}
