.main{
	width: 7.5rem;
	height: auto;
	padding: 0 .3rem;
}
.main .income{
	padding-left: .3rem;
	margin-top: 1.1rem;
	width: 6.9rem;
	height: 2.7rem;
	background: linear-gradient(to right, #478cff , #01b9ff);
	position: relative;
	border-radius: .08rem;
}
.main .income p{
	padding: .6rem 0 .6rem;
	font-size: .34rem;
	color: #fff;
}
.main .income span{
	font-size: .4rem;
	color: #fff;
}
.main .income span i{
	font-size: .8rem;
	font-weight: bold;
}
.main .income a{
	display: block;
	width: 1.4rem;
	height: .6rem;
	text-align: center;
	line-height: .6rem;
	border: 1px solid #fff;
	border-radius: .08rem;
	font-size: .26rem;
	color: #fff;
	position: absolute;
	top: 1.05rem;
	right: .3rem;
}
.button{
	width: 100%;
	height: auto;
	margin-top: .8rem;
}
.button a{
	display: inline-block;
	width: 3.3rem;
	height: .88rem;
	font-size: .32rem;
	border-radius: .44rem;
	outline: none;
	border: 1px solid #488cff;
	color: #488cff;
	background: #fff;
	text-align: center;
	line-height: .88rem;
}
#withdraw{
	float: right;
}
.curr{
	color: #fff !important;
	background: linear-gradient(to right, #478cff , #01b9ff) !important;
}
.remove{
	width: 100%;
	height: auto;
	margin: .3rem 0;
}
.remove input{
	font-size: .32rem;
	border-radius: .44rem;
}
.remove input[type='number']{
	width: 4.3rem;
	height: .88rem;
	color: #111;
	border: 1px solid #ccc;
	padding-left: .4rem;
}
.remove input[type='number']::placeholder{
	color: #ccc;
}
#remove{
	width: 2.3rem;
	height: .88rem;
	color: #111;
	border: 1px solid #488cff;
	color: #488cff;
	background: #fff;
	float: right;
	border-radius: .44rem;
	text-align: center;
	line-height: .88rem;
}
.main em{
	font-size: .28rem;
	color: #ccc;
}
