html{overflow: hidden;}
.view{padding-bottom:0;}
.logo{display:block;width:1.1rem;margin:.3rem auto .5rem;}
.container{width:6.9rem;margin:0 auto;}
.item{width:6.9rem;height:1.5rem;border-bottom:1px solid #EAEAEA; }
.item p{margin-top:.5rem;width:100%;position: relative;}
.item p>span{font-size:.34rem;color:#FF704f;}
.item p>input{font-size:.34rem;color:#333;width:3rem;height:.6rem;padding-left:.2rem;}
.code{display:block;width:1.8rem;height:.6rem;line-height:.6rem;text-align:center;position:absolute;right:0;top:0;color:#999;font-size:.26rem;border:1px solid #f3f3f3;border-radius:6px;  }
.showImg ,.showImage{width:.35rem;margin-top:.2rem;display: none;}
.login-title{margin-top:.4rem;width:100%;color:#999;font-size:.3rem;}
.login{color:#ff704f;padding-left:.1rem;}
.registerBtn{width:6.9rem;height:.94rem;line-height:.94rem;background:#ffcdb9;color:#ffe3cd;text-align:center;font-size:.3rem;border-radius:30px;margin-top:.4rem;  }
.point{color:#999;font-size:.24rem;padding-left:.1rem;margin-top:.4rem;}
.agreement{color:#5793dd;}